/* Imports */
/* @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap'); */
@import './moh-css.css';
@import './bar-css.css';

/* Reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

ul[role='list'],
ol[role='list'],
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------RESET------------------ */

:root {
    /* Main background color */
    --color-primary-bg: #17406D;
    /* Darker shade of primary */
    --color-primary-dark-bg: #0F172A;
    /* Hover state background */
    --color-primary-hover-bg: #335082;
    /* Secondary background */
    --color-secondary-bg: #c7c7c7;
    /* Hover state background */
    --color-secondary-hover-bg: #d3d3d3;
    /* Neutral white background */
    --color-neutral-white-bg: #FFFFFF;
    /* Main text color */
    --color-primary-text: #201f1f;
    /* Secondary (muted) text */
    --color-secondary-text: #acacac;
    /* White text */
    --color-neutral-white-text: #ffffff;
    /* Black text */
    --color-neutral-black-text: #353535;
    /* Border color matching primary */
    --color-primary-border: #17406D;
    /* Gray border */
    --color-secondary-border: #979797;
    /* Shadow color */
    --color-shadow: rgba(0, 0, 0, 0.295);
    /* Success state color */
    --color-success: #73a585;
    /*disable input*/
    --color-disabled: #dddddd;
    /* Light neutral background */
    --color-neutral-light-bg: #fdfdfd;
    /* Not Found Background */
    --color-notfound-bg: #d1e2ff;
    /* Box Shadow */
    --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: var(--color-neutral-light-bg);
    color: var(--color-primary-text) !important;
    font-size: 14px;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

/* General CSS */

/* Media CSS */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    :root {
        background-color: rgb(240, 240, 240);
        color: rgb(46, 46, 46);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
    :root {
        background-color: rgb(240, 240, 240);
        color: rgb(46, 46, 46);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    :root {
        background-color: rgb(240, 240, 240);
        color: rgb(46, 46, 46);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    :root {
        background-color: rgb(240, 240, 240);
        color: rgb(46, 46, 46);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    :root {
        background-color: var(--color-neutral-light-bg);
        color: rgb(46, 46, 46);
    }
}


/* Util CSS */
.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-J-center {
    display: flex;
    justify-content: center;
}

.flex-1 {
    flex: 1;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.grid {
    display: grid;
}

.grid-col-2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
}

.grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}

.grid-col-4 {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
}

.grid-col-5 {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 40px;
}

.margin-auto {
    margin: auto;
}

.gap-40 {
    gap: 40px;
}

.main-container {
    border: 1px solid var(--color-primary-border);
    border-radius: 30px;
    width: 100%;
    margin: 30px 0;
    position: relative;
}

.wizard-title {
    padding: 20px 12px 9px 12px;
    width: 98%;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid var(--color-secondary-border);
    font-weight: 600;
}

.content-container {
    width: 94%;
    margin: auto;
    overflow: hidden;
}

.tabs {
    justify-content: space-around;
    align-content: center;
    height: 44px;
    border-bottom: 1px solid var(--color-primary-border);
}

/* Dark Mode CSS */
@media (prefers-color-scheme: dark) {
    :root {
        /* Main background color */
        --color-primary-bg: #0f172a;
        /* Darker shade of primary */
        --color-primary-dark-bg: #0a101c;
        /* Hover state background */
        --color-primary-hover-bg: #132337;
        /* Secondary background */
        --color-secondary-bg: #2e2e2e;
        /* Hover state background */
        --color-secondary-hover-bg: #1f1f1f;
        /* Neutral white background */
        --color-neutral-white-bg: #3d3d3d;
        /* Main text color */
        --color-primary-text: #e0e0e0;
        /* Secondary (muted) text */
        --color-secondary-text: #8c8c8c;
        /* White text */
        --color-neutral-white-text: #f5f5f5;
        /* Black text */
        --color-neutral-black-text: #eaeaea;
        /* Border color matching primary */
        --color-primary-border: #335082;
        /* Gray border */
        --color-secondary-border: #595959;
        /* Shadow color */
        --color-shadow: rgba(0, 0, 0, 0.5);
        /* Success state color */
        --color-success: #3c704b;
        /* Disabled input */
        --color-disabled: #555555;
        /* Light neutral background */
        --color-neutral-light-bg: #3b3b3b;
        /* Not Found Background */
        --color-notfound-bg: #283a58;
        /* Box Shadow */
        --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.1);
        background-color: var(--color-neutral-white-bg);
        color: var(--color-neutral-white-text);
    }

    input[disabled],
    select[disabled],
    textarea[disabled],
    label.disabled {
        background-color: var(--color-disabled);
        color: white;
    }
}

/* RTL CSS */
@media (lang: ar) {
    .container {
        text-align: right;
        direction: rtl;
    }
}

/* Classes CSS */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-weight: 700;
    line-height: 1;
}

.nav-content {
    width: 100%;
    height: 114px;
    max-height: 114px;
    background: var(--color-primary-bg);
    padding: 10px 10px;
    color: var(--color-neutral-white-text);
    margin: 0 0 20px 0;
}

.nav-list {
    justify-content: space-evenly;
    flex: 3;
    padding: 5px 30px;
}

.nav-list a {
    padding: 5px 5px;
    border-radius: 5px;
}

.nav-list a:hover {
    background-color: var(--color-primary-hover-bg);
    transform: scale(1.05);
}

.search-container {
    display: flex;
    flex: 1;
    justify-content: center;
}

.search-input {
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    width: 200px;
}

.profile-container {
    position: relative;
    cursor: pointer;
    margin: 10px 10px;
    z-index: 999;
}

.profile-image {
    border-radius: 50%;
}

.dropdown-menu {
    position: absolute;
    width: 100%;
    top: 100%;
    right: 0;
    background-color: var(--color-neutral-white-bg);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.295);
}

.dropdown-item {
    display: block;
    padding: 5px 10px;
    color: var(--color-neutral-black-text);
    transition: all 0.3s ease;
}

.dropdown-item:hover {
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--color-secondary-bg);
    transform: scale(1.05);
}

.user-profile {
    padding: 10px 10px;
    gap: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.user-profile:hover {
    background-color: var(--color-primary-hover-bg);
    transform: scale(1.05);
}

.user-profile:focus {
    background-color: var(--color-primary-hover-bg);
}

.user-name {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-dis {
    font-size: 12px;
    color: var(--color-secondary-text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabs {
    position: relative;
    margin: 0 0 10px 0;
}

.tabs h3 {
    font-size: 18px;
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
}

.tab-highlight-1 {
    height: 44px;
    position: absolute;
    width: 25%;
    background-color: var(--color-primary-bg);
    left: 0;
    border-start-start-radius: 25px;
    border-start-end-radius: 25px;
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;
}

.tab-highlight-2 {
    height: 44px;
    position: absolute;
    width: 25%;
    background-color: var(--color-primary-bg);
    left: 0;
    border-start-start-radius: 25px;
    border-start-end-radius: 25px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.tab-highlight-3 {
    height: 44px;
    position: absolute;
    width: 25%;
    background-color: var(--color-primary-bg);
    left: 0;
    border-start-start-radius: 25px;
    border-start-end-radius: 25px;
    transform: translateX(200%);
    transition: transform 0.3s ease-in-out;
}

.tab-highlight-4 {
    height: 44px;
    position: absolute;
    width: 25%;
    background-color: var(--color-primary-bg);
    left: 0;
    border-start-start-radius: 25px;
    border-start-end-radius: 25px;
    transform: translateX(300%);
    transition: transform 0.3s ease-in-out;
}

.tabs h3.active {
    color: var(--color-neutral-white-text);
    border-start-start-radius: 30px;
    border-start-end-radius: 30px;
}

.wizard-container {
    width: 90%;
    max-width: 90%;
    margin: 30px auto;
}

.wizard-steps {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.wizard-step {
    text-align: center;
    flex: 1;
    position: relative;
}

.wizard-step p {
    margin-top: 10px;
    font-size: 14px;
    color: var(--color-neutral-black-text);
}

.step-icon {
    width: 50px;
    height: 50px;
    position: relative;
    line-height: 50px;
    border-radius: 50%;
    background-color: #ddd;
    color: #555;
    font-weight: bold;
    margin: 0 auto;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px var(--color-shadow);
    border: 1px dashed var(--color-primary-dark-bg);
    transition: transform 0.6s;
}

.wizard-step.active .step-icon {
    background-color: var(--color-primary-dark-bg);
    color: #fff;
}

.wizard-step.completed .step-icon {
    background-color: var(--color-success);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    transform: rotateY(360deg);
}

.wizard-step::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #ddd;
    z-index: -1;
}

.wizard-step:first-child::before {
    left: 50%;
}

.wizard-step:last-child::before {
    right: 50%;
}

.wizard-step.active::before,
.wizard-step.completed::before {
    background-color: var(--color-primary-dark-bg);
}

.wizard-step.completed::before {
    background-color: var(--color-success);
}

.wizard-buttons {
    display: flex;
    position: relative;
    margin: 20px 10px;
    justify-content: space-around;
}

.form-content {
    min-height: 250px;
}

.select-tag {
    width: 100%;
    height: 35px;
    border: 1px solid var(--color-secondary-border);
    border-radius: 5px;
    margin-top: 5px;
    padding: 0 10px;
}

input[required]::after,
select[required]::after,
textarea[required]::after,
label.required::after {
    content: " *";
    color: red;
    font-weight: bold;
}

.field-container {
    width: 100%;
    margin-bottom: 15px;
}

.sub-title {
    width: 100%;
    margin: 15px 0;
    border-bottom: 1px solid var(--color-secondary-border);
}