:root {
  /* Error State Color */
  --color-error: #d37171;
}

.button-container {
  margin-top: 25px;
}

.button-container button {
  width: 100%;
}

.input-error {
  border-color: var(--color-error) !important;
}

.input-error:focus-visible {
  outline: var(--color-error) !important;
  outline-style: auto !important;
}

.error-msg {
  color: var(--color-error);
  padding: 10px;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.shimmer {
  position: relative;
  overflow: hidden;
  background-color: #d8d8d8;
  overflow: hidden;
  border-radius: 5px;
}

.shimmer::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.829), transparent);
  transform: translateX(-100%);
  animation: shimmer 2s infinite;
}

@media (prefers-color-scheme: dark) {
  .shimmer {
    position: relative;
    overflow: hidden;
    background-color: #2d2d2d;
    overflow: hidden;
    border-radius: 5px;
  }

  .shimmer::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, transparent, rgba(100, 100, 100, 0.3), transparent);
    transform: translateX(-100%);
    animation: shimmer 2s infinite;
  }
}

.notfound-container {
  height: 100vh;
  align-content: center;
  text-align: center;
  background-color: var(--color-notfound-bg);
}

.notfound-404 {
  position: relative;
  z-index: 2;
  width: 200px;
  margin: auto;
  margin-top: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  animation: modalFadeIn 0.3s ease-out;
}

.modal {
  background-color: var(--color-neutral-white-bg);
  border-radius: 5px;
  padding: 10px;
  min-width: 500px;
  position: relative;
  box-shadow: var(--box-shadow);
}

.modal-title {
  min-height: 50px;
  border-bottom: 1px solid var(--color-secondary-border);
  margin-bottom: 10px;
  align-content: center;
  color: var(--color-primary-text);
}

.modal-content {
  border-radius: 0.375rem;
  max-width: 28rem;
  min-height: 50px;
  padding: 0 10px;
  position: relative;
}

.modal-footer {
  min-height: 50px;
  border-top: 1px solid var(--color-secondary-border);
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
}

.modal-footer button {
  min-width: 90px !important;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #6b7280;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 5px 10px !important;
  background-color: transparent;
  border: none;
}

.close-button:hover {
  color: #374151;
}

.close-button:disabled {
  color: #6b7280;
  cursor: not-allowed;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-primary {
  background-color: var(--color-primary-bg);
  color: var(--color-neutral-white-text);
  border: none;
}

.btn-primary:hover {
  background-color: var(--color-primary-hover-bg);
}

.btn-secondary {
  background-color: var(--color-secondary-bg) !important;
  color: var(--color-primary-text) !important;
  border: none;
}

.btn-secondary:hover {
  background-color: var(--color-secondary-hover-bg) !important;
}

.btn-group {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

/* Size Variants */
.btn-sm {
  padding: 6px 12px;
  font-size: 12px;
  min-width: 32px;
}

.btn-default {
  padding: 11px 20px;
  font-size: 14px;
  min-width: 100px;
}

.btn-lg {
  padding: 12px 24px;
  font-size: 16px;
  min-width: 150px;
}

.btn-xl {
  padding: 16px 32px;
  font-size: 18px;
  min-width: 200px;
}