'use client'

import 'react-phone-input-2/lib/style.css';
import PhoneInput from 'react-phone-input-2';

const PhoneNumberInput = ({ value, onChange }) => {
  return (
    <PhoneInput
      country={'us'} // Set the default country code
      value={value}
      onChange={onChange} // Update handler
      containerStyle={{
        margin: '20px 0',
      }}
      inputStyle={{
        width: '100%',
        height: '40px',
        borderRadius: '8px',
        border: '1px solid #ccc',
        paddingLeft: '48px',
      }}
    />
  );
};

export default PhoneNumberInput;
